.leftone {
  position: absolute;
  width: 427.84px;
  height: 531.34px;
  top: 0px;
  
  border-radius: 9999px;


}

.leftside {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 568.4px;
  height: 1024px;
  background: linear-gradient(100.82deg, #007983 1.77%, rgba(0, 82, 92, 0) 68.81%);

}

.modelCircle {
  z-index: 5;
  overflow: hidden;
  width: 1820.63px;
  height: 1820.63px;
  border-radius: 99999px;
  position: absolute;
  top: 276px;
  left: -680px;
  background: linear-gradient(216.6deg, rgba(51, 116, 153, 0.2) 16.24%, rgba(1, 48, 54, 0.2) 37.19%);
}

.health {
  position: absolute;
  width: 1657px;
  height: 1671.05px;
  top: 552.06px;
  left: -779px;
  border-radius: 50%;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(229.49deg, rgba(51, 116, 153, 0.2) 21.32%, rgba(1, 48, 54, 0.2) 57.67%);
}

.colorr {
  background: linear-gradient(98deg, #004C57 0%, #045F6C 55%, #004C57 100%);
}

#eclipse1 {
  position: absolute;
  width: 387.52px;
  height: 201.04px;
  top: 204.2px;
  left: 729.84px;
  transform: rotate(245.88deg);
  
}

.eclipse3{
  position: absolute;
  width: 606.29px;
  height: 438.76px;
  top: 532.54px;
  left: 98.96px;
  transform: rotate(132.29deg);
  /* angle: 42.29 deg; */
  
}

.eclipse5{
position: absolute;
width: 478.14px;
height: 381.74px;
top: 783.13px;
left: 470.4px;
gap: 0px;
opacity: 0px;
transform: rotate();

}